div{
    border: 0px solid black;
    position: relative;
}

p{
    font-weight: bold;
}

span{
    display: block;
}

.navigation{
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    background-color: white;
    width: 100%;
    
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-left: 10px;
}

.menu a:hover{
    color: skyblue;
}


/* last layer */
.complain{
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;

    padding-left: 20px;
    color: white;   
}

.complain > div:nth-child(1){
    width: 20%;
}

.complain > div:nth-child(2){
    width: 20%;
}

.complain > div:nth-child(3){
    width: 60%;
}

.last{
    display: flex; 
    justify-content: center;
    background-color: black;
    color: white;
}